@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu Regular'), url('/css/fonts/Ubuntu-Regular.woff2') format('woff2'), url('/css/fonts/Ubuntu-Regular.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    src: local('Ubuntu Medium'), url('/css/fonts/Ubuntu-Medium.woff2') format('woff2'), url('/css/fonts/Ubuntu-Medium.woff') format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), url('/css/fonts/Ubuntu-Bold.woff2') format('woff2'), url('/css/fonts/Ubuntu-Bold.woff') format('woff');
}