.decor {
  max-width: 1600px;
  padding: 0 15px;
  margin: 0 auto;
  z-index: 0;
  bottom: 20px;
  position: sticky;
  top: 90%;
}

.decor--delete {
  top: 98%;
}

.decor--delete .notification__list {
  bottom: 15px;
}

.actions {
  display: flex;
  gap: 12px;
  height: 57px;
  justify-content: flex-end;
}

.actions__btn {
  border-radius: 13px;
  padding: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--accent);
  position: relative;
  color: #fff;
  transition: opacity .3s;
}

.actions__btn:hover {
  opacity: .6;
}

.actions__btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 22px;
}

.actions__btn--delete {
  width: 57px;
}

.actions__btn--delete::after {
  background-image: url("../../images/icons/basket.svg");
}

.actions__btn--add {
  font-weight: 500;
  padding-left: 42px;
}

.actions__btn--add::after {
  left: 17px;
  transform: translate(0, -50%);
  background-image: url("../../images/icons/plus.svg");
  width: 16px;
  height: 16px;
}